<p class="w3-text-green"><%= notice %></p>

<% content_for :title, "Country data finals" %>

<div class="w3-container">
  <h1 class="w3-center w3-text-blue">Country Data Finals</h1>

  <div id="country_data_finals" class="w3-row-padding">
    <% @country_data_finals.each do |country_data_final| %>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card w3-padding w3-light-grey">
          <%= render country_data_final %>
          <p class="w3-center">
            <%= link_to "Show this country data final", country_data_final, class: "w3-button w3-blue w3-round" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="w3-center">
    <%= link_to "New country data final", new_country_data_final_path, class: "w3-button w3-green w3-round w3-large" %>
  </div>
</div>
